.aboutSection {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: center;
    font-family: 'roboto', sans-serif;
    margin: 0px 20px;
    color: black;
    gap: 120px;
}

.p{
    width: 1340px;
    text-align: center;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 40px 0px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 40px 0px;
    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    width: 320px;
    height: 256px;
    margin: 10px 20px;
}

.item img {
    border-radius: 8px;
    height: 90%;
    max-width: inherit;
    object-fit: cover;
}

.item p {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: black;
    font-size: 16px;
}