/* Hero.css */
.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    overflow: hidden;
}

.hero img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    min-width: 100%;
    min-height: 100%;
}
